{{define "body"}}
<h1><span class="fs-3">Available Tests</span></h1>
<ol>
    <li><a href="/dns">DNS</a></li>    
    <li><a href="/postgres">PostgreSQL</a></li>    
    <li><a href="/openai">OpenAI</a></li>    
</ol>
{{end}}